#titulo{
    color: tomato;
}

p.texto {
    color: slateblue;
}

p.especial{
    color: mediumseagreen;
}

div p{
    color: aquamarine;
}

div h2, div h3 {
    color: darkgoldenrod;
}

*{
    font-size: 24px;
    /* color: black; */
}

/*ASI SE HACEN LOS COMENTARIOS*/

/*color{
    color: rgb(243, 11, 204);
}
*/

.color {
    /* border: 5px black solid ;
    dotted
    dashed
    solid
    double
    groove
    ridge
    inset
    outset
    none
    hidden */

    border-style: solid;
    border-color: cornflowerblue;
    border-radius: 5px;
    border-width: 5px;

}

#fondo{
background-color: rgba(45, 227, 240);
/*opacity: 0.3;*/
background-image: url('fondo.jpg');
/* background-size: cover; */
background-size: 200px 200px;
background-repeat: no-repeat;
}

.margen{
    background-color: saddlebrown;
    margin: 15px;
    padding:  30px;
    border: solid 5px black;
    height: 100px;
    width: 50;
    overflow: scroll;
    outline: 1px solid red;
}
.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: underline;
    text-shadow: 3px 3px  5px blue;
}

ul{
   background-color: yellow;
   list-style-type: circle;
   /* padding-left:  0; */
   /* list-style-position: inside; */
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    border: solid 1px #eee;
    padding: 5px;

}

th{
    background-color: tomato;
    color: white;
    text-align: left;
}

tr:nth-child(even){
    background-color: #eee;
}


tr:hover{
    background-color: grey;
    cursor: pointer;
}

span{
    display: block;   
    width: 300px;
    background-color: antiquewhite;
}

.inline{
    display: inline;
}

#position{
    position: sticky;
    left: 20px;
    /* top: 25px; */
}

.left{
    float: left;
    width: 100px;
}
.right{
    float: right;
}
.container{
    height: 200px;
}